<app-container class="flex flex-grow">
  <div
    class="flex flex-col justify-between flex-grow w-full h-full mb-4 bg-neutral-800 mat-elevation-z8"
  >
    <app-spinner *ngIf="loading" class="mt-12" [centered]="true"></app-spinner>

    <div
      *ngIf="books.length === 0 && !loading"
      class="w-full mt-12 font-bold text-center text-white"
    >
      Perform a search to load the books of your interest
    </div>

    <app-table
      *ngIf="books.length > 0 && !loading"
      [dataSource]="books"
      [displayedColumns]="displayedColumns"
      [columnProps]="columnProps"
    >
    </app-table>
  </div>

  <app-paginator
    *ngIf="books.length > 0"
    #paginator
    class="bg-white"
    [disabled]="loading"
    [totalRows]="totalBooks"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (onPageChanged)="pageChanged($event)"
  ></app-paginator>
</app-container>
