.mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #e3e3e3;
}
